.pokemon{
    position: relative;
    min-height: 100vh;
    .loadMore{
        text-align: center;
        margin: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        button{
            margin: 0px 10px;
            padding: 12px 36px;
            background-color: rgb(236, 31, 31);
            color: $nameColor;
            font-family: $game;
            border: none;
            transition: all ease-in-out 0.2s;
            outline: none;
            text-transform: uppercase;
            &:hover{
                background-color: rgb(211, 46, 46);
            }
        }
    }
    &__content{
        padding-top: 60px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        column-gap: 50px;
        row-gap: 50px;
        .boxDetail{
            padding: 10px;
            border-radius: 16px;
            background-color: rgb(66, 63, 63);
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 5px 0px rgb(182, 179, 179);
            min-height: 270px;
            img{
            animation: fade;
            animation-duration: 1s;

            @keyframes fade {
                from{opacity: 0.3; }
                to{opacity: 1; }
            }
            }
            .imgLoad{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                min-height: 160px;
                .spinner {
                    width: 60px;
                    transition: all ease-in-out 0.2s;
                    height: 60px;
                    border: 4px solid rgba(255,255,255,.3);
                    border-radius: 50%;
                    border-top-color: rgb(235, 62, 62);
                    animation: spin 1s ease-in-out infinite;
                    @keyframes spin {
                        to { transform: rotate(360deg); }
                      }
                  }
                  &.hide{
                    display: none;
                 } 
            }
        }
        &-name{
            font-family: $magic;
            color: $nameColor;
            margin: 10px 0px;
            font-size: 16px;
        }
        .box-link{
            display: flex;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
            }
            margin-top: 10px;
        }
        &-link{
            color: $nameColor;
            margin-left: 5px;
            font-family: $game;
            font-size: 16px;
            transition: all ease-in-out 0.4s;
            padding: 5px 20px;
            border-radius: 8px;
            background-color: rgb(231, 60, 60);
            &:hover{
                background-color: rgb(206, 58, 58);
            }
        }
        @media only screen and (max-width: 1300px) {
            grid-template-columns: repeat(4,1fr);
          }
          @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(3,1fr);
          }
          @media only screen and (max-width: 700px) {
            grid-template-columns: repeat(2,1fr);
          }
          @media only screen and (max-width: 480px) {
            grid-template-columns: 1fr;
            column-gap: initial;
          }
    }
}