@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

img {
  display: block;
  box-sizing: border-box;
  width: 100%; }

body {
  background-color: #272727;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

body::-webkit-scrollbar {
  width: 9px;
  /* width of the entire scrollbar */ }

body::-webkit-scrollbar-track {
  background: #cccccc; }

body::-webkit-scrollbar-thumb {
  background: #747272; }

body::-webkit-scrollbar-thumb:hover {
  background: #555; }

a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none; }

li {
  list-style: none; }

p {
  word-break: break-all; }

hr {
  color: #141414; }

.container {
  padding-left: 56px;
  padding-right: 56px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

button {
  cursor: pointer; }

.wrapper {
  max-width: 1920px;
  margin: auto; }

@media screen and (max-width: 614px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }
.header {
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #ee5253 74%);
  position: fixed;
  max-width: 1920px;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  right: 0; }
  .header__content {
    padding: 10px 0px;
    display: flex;
    align-items: center; }
    .header__content-logo {
      display: flex;
      align-items: center;
      font-family: "Tomorrow", sans-serif;
      color: #ece7e7;
      font-size: 18px; }
      .header__content-logo img {
        margin-right: 10px;
        width: 40px; }
    .header__content-item {
      cursor: pointer; }
      .header__content-item span {
        font-family: "Tomorrow", sans-serif;
        margin-left: 20px;
        color: #ece7e7;
        font-size: 18px;
        transition: all ease-in-out 0.2s; }
        .header__content-item span:hover {
          color: #4d4b49; }
      .header__content-item .subMenu {
        transition: all ease-in-out 0.4s;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 56px;
        padding-right: 56px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        z-index: 995;
        background: rgba(48, 47, 47, 0.9);
        width: 100%;
        margin: auto;
        top: 100%;
        left: 0;
        right: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden; }
        .header__content-item .subMenu li {
          padding: 10px; }
        .header__content-item .subMenu .link {
          font-size: 16px;
          font-family: "Tomorrow", sans-serif;
          color: #ece7e7;
          transition: all ease-in-out 0.2s; }
          .header__content-item .subMenu .link:hover {
            color: #ee5253; }
        @media screen and (max-width: 614px) {
          .header__content-item .subMenu {
            padding-left: 15px;
            padding-right: 15px; } }
      .header__content-item:hover .subMenu {
        opacity: 1;
        visibility: visible; }
    .header__content-menu {
      display: flex;
      align-items: center;
      margin-left: 50px; }
    .header__content-link {
      transition: all ease-in-out 0.2s;
      font-family: "Tomorrow", sans-serif;
      color: #ece7e7; }
      .header__content-link:hover {
        color: #4d4b49; }
    @media screen and (max-width: 400px) {
      .header__content {
        flex-wrap: wrap; }
        .header__content-menu {
          flex-basis: 100%;
          margin-left: initial; }
        .header__content-item {
          margin-top: 10px; }
          .header__content-item span {
            font-size: 14px;
            margin-left: initial; }
          .header__content-item .space {
            margin-left: 10px; }
          .header__content-item .subMenu .link {
            font-size: 14px; } }

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 997;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
  background-color: #1c1c1c;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.4s; }
  .modal .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal .animation span {
      font-family: "Tomorrow", sans-serif;
      color: #ece7e7;
      font-size: 16px;
      margin-top: 14px;
      letter-spacing: 2px; }
    .modal .animation img {
      width: 80px;
      animation: ball;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 5s; }
@keyframes ball {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .modal.show {
    opacity: 1;
    visibility: visible; }

.pokemon, .PokeDetail {
  position: relative;
  min-height: 100vh; }
  .pokemon__content {
    padding-top: 60px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;
    row-gap: 50px; }
    .pokemon__content-box {
      animation: fade;
      animation-duration: 2s; }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .pokemon__content .boxDetail {
      padding: 10px;
      border-radius: 16px;
      background-color: #423f3f;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 5px 0px #b6b3b3; }
    .pokemon__content-name {
      font-family: "Yusei Magic", sans-serif;
      color: #ece7e7;
      margin: 10px 0px;
      font-size: 16px; }
    .pokemon__content .box-link {
      display: flex;
      align-items: center;
      margin-top: 10px; }
      .pokemon__content .box-link img {
        width: 50px;
        height: 50px; }
    .pokemon__content-link {
      color: #ece7e7;
      margin-left: 10px;
      font-family: "Tomorrow", sans-serif;
      font-size: 16px;
      transition: all ease-in-out 0.4s; }
      .pokemon__content-link:hover {
        color: #e20909; }
    @media only screen and (max-width: 1300px) {
      .pokemon__content {
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 1000px) {
      .pokemon__content {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (max-width: 700px) {
      .pokemon__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 480px) {
      .pokemon__content {
        grid-template-columns: 1fr;
        column-gap: initial; } }

.PokeDetail__content {
  padding-top: 230px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px; }
  .PokeDetail__content-left {
    position: relative;
    padding: 40px 20px;
    background-color: #ebe3e3;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px #d4d2d2;
    display: flex;
    flex-direction: column;
    color: #3d3c3c;
    font-size: 18px;
    font-family: "Tomorrow", sans-serif; }
    .PokeDetail__content-left.red {
      background-color: #fc9842;
      background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%); }
    .PokeDetail__content-left.gray {
      background: linear-gradient(to right, #a6aab0 0%, #747272 100%); }
    .PokeDetail__content-left.pink {
      background-color: #e899dc;
      background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%); }
    .PokeDetail__content-left.black {
      color: #ece7e7;
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); }
    .PokeDetail__content-left.green {
      background-color: #70b2d9;
      background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%); }
    .PokeDetail__content-left.blue {
      background-color: #045de9;
      background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); }
    .PokeDetail__content-left.yellow {
      background-color: #fbb034;
      background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); }
    .PokeDetail__content-left.brown {
      background-color: #772f1a;
      background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%); }
    .PokeDetail__content-left.purple {
      background-color: #2b1331;
      background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%); }
  .PokeDetail__content-img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px; }
  .PokeDetail__content-name {
    padding-top: 80px;
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    text-transform: uppercase; }
  .PokeDetail__content-right {
    font-size: 18px;
    padding: 40px 20px;
    background-color: #ebe3e3;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px #d4d2d2;
    display: flex;
    flex-direction: column;
    color: #3d3c3c;
    font-family: "Tomorrow", sans-serif; }
    .PokeDetail__content-right.red {
      background-color: #fc9842;
      background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%); }
    .PokeDetail__content-right.green {
      background-color: #70b2d9;
      background-image: linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%); }
    .PokeDetail__content-right.blue {
      background-color: #045de9;
      background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); }
    .PokeDetail__content-right.yellow {
      background-color: #fbb034;
      background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); }
    .PokeDetail__content-right.gray {
      background: linear-gradient(to right, #a6aab0 0%, #747272 100%); }
    .PokeDetail__content-right.pink {
      background-color: #e899dc;
      background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%); }
    .PokeDetail__content-right.brown {
      background-color: #772f1a;
      background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%); }
    .PokeDetail__content-right.purple {
      background-color: #2b1331;
      background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%); }
    .PokeDetail__content-right.black {
      color: #ece7e7;
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); }
  .PokeDetail__content-habitat {
    margin-top: 10px; }
  .PokeDetail__content-height {
    margin-top: 10px; }
  .PokeDetail__content-weight {
    margin-top: 10px; }
  .PokeDetail__content-type {
    margin-top: 10px; }
    .PokeDetail__content-type .btn {
      border-radius: 8px;
      cursor: pointer;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 16px;
      color: #ece7e7;
      margin-left: 10px;
      box-shadow: 0 0 5px 0px #302f2f;
      transition: all ease-in-out 0.2s; }
      .PokeDetail__content-type .btn.blue {
        background-color: #0066ff; }
      .PokeDetail__content-type .btn.red {
        background-color: #ee2d2d; }
      .PokeDetail__content-type .btn.green {
        background-color: #17c217; }
      .PokeDetail__content-type .btn.brown {
        background-color: #a73b3b; }
      .PokeDetail__content-type .btn.purple {
        background-color: #a51da5; }
      .PokeDetail__content-type .btn.yellow {
        background-color: #f0a720; }
      .PokeDetail__content-type .btn.pink {
        background-color: #e99fab; }
      .PokeDetail__content-type .btn.gray {
        background-color: #726b6b; }
      .PokeDetail__content-type .btn.white {
        background-color: #c5c3c3; }
      .PokeDetail__content-type .btn.black {
        background-color: #4e4b4b; }
      .PokeDetail__content-type .btn:hover {
        box-shadow: 0 0 5px 1px #1b1b1b; }
  .PokeDetail__content-exp {
    margin-top: 10px; }
  .PokeDetail__content-rate {
    margin-top: 10px; }
  .PokeDetail__content-skill {
    margin-top: 10px; }
  .PokeDetail__content-egg {
    margin-top: 10px; }
  .PokeDetail__content-color {
    margin-top: 10px; }
  .PokeDetail__content-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Tomorrow", sans-serif; }
    .PokeDetail__content-title img {
      margin-left: 5px;
      width: 70px; }
  .PokeDetail__content-stat .group {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between; }
    .PokeDetail__content-stat .group .statBar {
      height: 5px;
      overflow: hidden;
      width: 50%;
      box-shadow: 0 0 5px 2px #242323; }
      .PokeDetail__content-stat .group .statBar .progress {
        height: 100%;
        background-color: #aff6cf;
        background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%); }
  @media only screen and (max-width: 993px) {
    .PokeDetail__content {
      grid-template-columns: 1fr;
      column-gap: initial;
      row-gap: 50px; } }
  @media only screen and (max-width: 700px) {
    .PokeDetail__content-left {
      font-size: 14px; }
    .PokeDetail__content-right {
      font-size: 14px; } }

.search__content {
  padding-top: 160px; }
  .search__content form {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .search__content button {
    background: #c93d3d;
    border: none;
    outline: none;
    font-family: "Tomorrow", sans-serif;
    transition: all ease-in-out 0.4s;
    padding: 10px 35px; }
    .search__content button .button {
      color: #ece7e7;
      text-transform: uppercase; }
    .search__content button:hover {
      background: #eb4444; }
  .search__content input {
    padding: 0px 5px;
    width: 90%;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid #c93d3d; }

.error {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 996;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
  background-color: #1c1c1c; }
  .error .animation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .error .animation span {
      font-family: "Tomorrow", sans-serif;
      color: #ece7e7;
      font-size: 16px;
      margin-top: 14px;
      letter-spacing: 2px; }
    .error .animation .linkErr {
      margin-top: 5px;
      font-family: "Tomorrow", sans-serif;
      color: #ece7e7; }

/*# sourceMappingURL=main.css.map */
